{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Home Page</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
    <h1>Django Home page in home app </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Accusantium nostrum sapiente facilis natus similique illo numquam ad totam voluptatum incidunt perferendis at,
         soluta praesentium molestiae nobis error hic doloribus unde. Aperiam numquam officiis dolor repellendus?
          Ipsum soluta reprehenderit doloremque quo excepturi ipsam ullam asperiores quis beatae! 
          Blanditiis libero distinctio eaque, voluptas consequuntur dolore quidem rerum consequatur 
          impedit, quasi atque velit a sit. Deleniti obcaecati quae dolorem aperiam, illo, impedit
           sunt explicabo suscipit itaque voluptate amet quidem. Natus ipsum animi, temporibus possimus
            repellendus sit rerum quae aut tempore alias, aliquam blanditiis dicta esse pariatur repellat</p>
</body>
</html>