{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple HTML boilerplate">
    <meta name="author" content="Your Name">
    <title>Document</title>
    <link rel="stylesheet" href = "{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, autem cupiditate. Tenetur!</p>
</body>
</html>